input[name="email"] {
    margin-left: 29px;
}

.email-login {
    margin-bottom: 15px;
}

.card-login {
    border: 1px solid black;
    display: inline-block;
    padding: 30px;
    position: absolute;
    left: calc(50% - 150px);
}

.login-form {
    height: 400px;
}

input[name="password"] {
    margin-left: 7px;
}

input[type="checkbox"] {
    margin-top: 20px;
}

.btn-login {
    width: 100px;
    height: 40px;
    border: none;
    background: #345df3;
    color: #fff;
    border-radius: 5px;
    float: inline-end;
    cursor: pointer;
    margin-top: 20px;
}

.card-end {
    float: inline-end;
}

.card-body {
    margin: 10px auto;
}
